<div id="body">
    <div class="header">
        <h1>Détails de la Tâche</h1>
    </div>

    <div class="infos">
        <div class="affaire">
            <h2 id="titre">{{tache.titre}}</h2>
            <p><b>Identifiant : </b> {{tache.idTache}}</p>
            <p *ngIf="tache.statutAudience"><b>Statut de l'audience :</b> Publique </p>
            <p *ngIf="tache.statutAudience == false"><b>Statut de l'audience :</b> Privée</p>
            <p><b>Date de la création :</b> {{tache.dateCreation| date : 'short'}}</p>
            <p><b>Affaire : </b>{{tache.affaire.titre}} ({{tache.affaire.reference}})</p>
            <p><b>tribunal : </b>{{tache.tribunal.region}} ({{tache.tribunal.adresse}})</p>
            <p><b>Utilisateurs : </b>

            </p>
            <div *ngFor="let u of tache.utilisateurs">{{u.nomUtilisateur}},{{u.prenomUtilisateur}} <button class="btn supp" (click)="deleteUser(u)">supprimer</button></div>
            <p><b>Opérations</b> <br>
                <button class="btn supp" (click)="deleteTache()">Supprimer</button>
                <button class="btn supp" (click)="displayFormPhase()">Ajouter une phase</button>
                <button class="btn supp" (click)="displayFormUser()">Ajouter un Utilisateur</button>
            </p>
            <!-- mettre un bouton qui permet d'ajouter un utilisateurs -->

        </div>

    </div>

    <div *ngIf="tache.phases.length!=0" class="header">
        <h1>Phases associées</h1>
    </div>
    <div *ngIf="tache.phases.length==0" class="header">
        <h1>Aucune phase</h1>
        <!--Liste des tâches -->
    </div>
    <div class="documents">
        <div class="document" *ngFor="let p of tache.phases">
            <p><b>Identifiant : </b> {{p.idPhase}}</p>
            <p><b>nom : </b>{{p.nom}}</p>
            <p><b>Début de la phase : </b>{{p.dateDebut| date : 'mediumDate'}}</p>
            <p><b>Fin de la phase : </b>{{p.dateFin| date : 'mediumDate'}}</p>
            <p><b>Opérations</b><br>
                <button class="btn btn-danger" (click)="supprimerPhase(p.idPhase)">supprimer</button>
            </p><br>
        </div>

    </div>

    <!-- formulaire d'ajout de la phase-->
    <div>

        <form class="modal-bg" #modalBg>
            <div class="modale col-8 col-sm-6  col-lg-4">
                <h2 class="justify-content-center">Formulaire d'ajout</h2><br>
                <div class="form-group">
                    <label for="nom">Nom  </label>
                    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="phase.nom">
                </div>
                <div class="form-group">
                    <label for="dateDebut">Date de début  </label>
                    <input type="datetime-local" class="form-control" id="dateDebut" name="dateDebut" [(ngModel)]="phase.dateDebut">
                </div>
                <div class="form-group">
                    <label for="dateFin">Date de fin  </label>
                    <input type="datetime-local" class="form-control" id="dateFin" name="dateFin" placeholder="Date de fin" [(ngModel)]="phase.dateFin">
                </div>


                <button type="submit" class="btn" (click)="addPhase()">Ajouter</button>
                <span class="modal-close " (click)="hiddenFormPhase()" #modalClose>X</span>
            </div>
        </form>

    </div>
    <!-- lier un utilisateur -->
    <div>
        <form class="modal-bg" #modalBg2>
            <div class="modale col-8 col-sm-6  col-lg-4">
                <h2 class="justify-content-center">Quel utilisateur voulez-vous ajouter?</h2><br>
                <div class="form-group">
                    <label for="users">utilisateurs</label>
                    <select name="users" id="users" class="form-control" [(ngModel)]="utilisateur">
                        <option *ngFor="let u of utilisateurs" [ngValue]=u>{{u.nomUtilisateur}} {{u.prenomUtilisateur}}
                        </option>
                    </select>
                </div>
                <span class="modal-close" (click)="hiddenFormUser()" #modalClose>X</span>
                <button type="submit" class="btn" (click)="addUtilisateur()">Ajouter</button>
            </div>
        </form>

    </div>
</div>