#body {
    background-image: url("../../../assets/image/taches.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0% 5%;
    /* background-color: rgb(95, 168, 189); */
    padding: 50px;
    font-size: 1.45em;
}

.affaire {
    position: relative;
    width: 60%;
    height: auto;
    border-radius: 7px;
    margin: 20px 20px;
    overflow: hidden;
    background-color: rgb(234, 234, 234);
    /* border: solid 2px black; */
    padding: 0 0 1% 0;
    box-shadow: 4px 8px 15px black;
}

.documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0% 5%;
    /* background-color: rgb(95, 168, 189); */
    padding: 50px;
}

.document {
    position: relative;
    width: 400px;
    height: auto;
    border-radius: 7px;
    margin: 20px 20px;
    overflow: hidden;
    background-color: rgb(229, 236, 240);
    /* border: solid 2px black; */
    padding: 0 0 1% 0;
    box-shadow: 4px 8px 15px black;
}

.document:hover {
    transition: 0.4s;
    box-shadow: 1px 4px 3px black;
    height: auto;
    cursor: pointer;
}

.infos .affaire p {
    padding: 2% 0%;
    border-top: 1px dotted black;
    margin: 0px;
}

.documents .document p {
    padding: 0% 3%;
    border-top: 1px dotted black;
    margin: 0px;
}


/* 
#description {
    padding-top: 8%;
} */

#titre {
    background-color: rgb(246, 79, 93);
    font-size: 1.9em;
    padding: 3%;
    margin-bottom: 0px;
}

#archive {
    color: rgb(122, 124, 123);
}

#encours {
    font-size: 2em;
}

#body .infos .affaire #archive {
    background-color: rgb(78, 78, 78);
}

#body .infos .affaire #actualise {
    background-color: rgb(46, 88, 101);
}

#body .infos .affaire #suivre {
    background-color: rgb(87, 166, 185);
}

#body .infos .affaire button {
    margin: 1%;
    color: white;
}

.supp {
    background-color: rgb(246, 79, 93);
}


/*Forumlaire d'ajout de la tache*/

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modale {
    position: relative;
    background-color: white;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
    border-radius: 5px;
    /* border: black solid 2px; */
    padding: 2% 2%;
}

button {
    padding: 10px 30px;
    background-color: rgb(246, 79, 93);
    color: white;
    border: "none";
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

label {
    font-size: 1.2em;
}

@media screen and (max-width: 426px) {
    #titre {
        font-size: 1em;
    }
    p {
        font-size: 0.6em
    }
    h1 {
        font-size: 2em
    }
    /* .infos {
        padding: 0px 0px
    }*/
    .affaire {
        margin: 0px 0px;
        width: 95%
    }
    .documents {
        padding: 0px 0px;
    }
    .infos {
        padding: 0px 0px;
    }
    button {
        font-size: 0.8em
    }
}