<form>

    <div class="form-group">
        <label for="inputNom">Nom : </label>
        <input type="text" class="form-control" name="inputNom" id="inputNom" placeholder="Entrez le nom du document :" [(ngModel)]=document.nom>
    </div>
    <div class="form-group">
        <label for="inputDescription">Description : </label>
        <textarea class="form-control" name="inputDescription" id="exampleFormControlTextarea1" rows="10" placeholder="Entrez la description du document :" [(ngModel)]="document.description"></textarea>
    </div>

    <button class="btn btn-success" type="submit" (click)="addDocument()">Ajouter</button>
</form>