<div class="col-md-5 ct mx-auto">

    <div class="card card-container">

        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                    Le nom d'utilisateur est requis
                </div>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">le mot de passe est requis</div>
                    <div *ngIf="password.errors.minlength">
                        Le mot de passe doit faire au moins 6 characters
                    </div>
                </div>
            </div>



            <div class="form-group">
                <button class="btn btn-primary btn-block">
                   se connecter 
                </button>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    connection échouée: {{ errorMessage }}
                </div>
            </div>
        </form>


        <div class="alert alert-success" *ngIf="isLoggedIn">
            connecté en tant que {{ roles }}.
        </div>

    </div>

</div>