<div id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav nav-pills  mr-auto">
            <li class="nav-item ">
                <a #couleur1 class="nav-link active" href="#">gestion de Contentieux</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/accueil">Affaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tâches">Tâches</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tribunals">Tribunals</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/utilisateur">utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">profile</a>
            </li>
        </ul>
        <ul class="nav nav-pills  ml-auto">
            <li *ngIf="!logged" class="nav-item">
                <a class="nav-link" href="/connexion">se connecter</a>
            </li>

            <li *ngIf="logged" class="nav-item">
                <a class="nav-link" (click)="OnLogOut()">se déconnecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/enregistrement">s'enregistrer</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>