#body {
    background-image: url("../../../assets/image/affaireHeader.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

#infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0% 5%;
    /* background-color: rgb(95, 168, 189); */
    padding: 50px;
}

.affaire {
    position: relative;
    width: 415px;
    height: auto;
    border-radius: 7px;
    margin: 20px 20px;
    overflow: hidden;
    background-color: rgba(227, 235, 239, 0.85);
    padding: 0 0 1% 0;
    box-shadow: 4px 8px 15px black;
}

.affaire:hover {
    transition: 0.4s;
    box-shadow: 1px 4px 3px black;
    height: auto;
    cursor: pointer;
}

#infos .affaire p {
    padding: 0% 0%;
    border-top: 1px dotted black;
    margin: 0px;
}

.description {
    margin-bottom: 0px;
}

#titre {
    background-color: rgb(67, 179, 196);
    font-size: 1.9em;
    padding: 3%;
    margin-bottom: 0px;
}

#archive {
    color: rgb(122, 124, 123);
}

#encours {
    font-size: 1.5em;
}

button {
    width: 100%;
    border: 0px;
}

@media screen and (max-width: 426px) {
    #titre {
        font-size: 1em;
    }
    p {
        font-size: 0.7em
    }
    h1 {
        font-size: 2em
    }
    #infos {
        padding: 0px 0px
    }
}