<div id="body">
    <div class="header">
        <h1>Tableau de bord</h1>
    </div>


    <div id="infos" data-aos="fade-right" data-aos-duration="1500">
        <div class="affaire">

            <button id="titre" (click)="displayForm()">+ Ajouter une affaire</button>
            <div *ngIf="showForm">
                <form>

                    <div class="form-group">
                        <label for="inputTitre">Titre </label>
                        <input type="text" class="form-control" name="inputTitre" id="inputTitre" [(ngModel)]="affaire.titre">
                    </div>
                    <div class="form-group">
                        <label for="inputReference">Référence  </label>
                        <input type="text" class="form-control" name="inputReference" id="inputReference" [(ngModel)]="affaire.reference">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description  </label>
                        <textarea class="form-control" name="inputDescription" id="inputDescription" rows="10" [(ngModel)]="affaire.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputStatut">Statut  </label>
                        <select class="form-control" id="inputStatut" name="inputStatut" [(ngModel)]="affaire.statut">
                                <option *ngFor="let i of statut" [ngValue]="i.nombre" >{{i.stat}}</option>
                            </select>
                    </div>


                    <button class="btn btn-success" type="submit" (click)="addAffaire()">Ajouter</button>

                </form>
            </div>
        </div>

        <!-- chercher une affaire à parti d'un référence-->
        <div class="affaire">
            <button (click)="displayRecherche()" id="titre">Chercher une affaire à partir de la référence</button>
            <div *ngIf="showInput">

                <input type="text" id="ref" name="ref" (keydown)=chercherAffaire() [(ngModel)]=mot> {{nombreAffaireSelectionne}} affaires sélectionnées

            </div>
        </div>
        <div class="affaire" *ngFor="let a of affaires">
            <a [routerLink]="[ '/affaireDetails',{pId:a.idAffaire}]">
                <h2 id="titre">{{a.titre}}</h2>

                <p><b>Reference :</b> {{a.reference}}</p>
                <p *ngIf="a.statut==2" id="archive"> <b>Statut : </b> Archivé</p>
                <p *ngIf="a.statut==1" id="encours"><b>En cours...</b></p>
                <p *ngIf="a.statut==3" id="asuivre"> <b>Statut : </b>A suivre</p>
                <p class="description" [hidden]="a.statut==2||a.statut==3"><b>Description : </b><br> {{a.description}}
                </p>
            </a>
        </div>


    </div>



</div>