<div id="body">
    <div class="header">
        <h1>Détails de l'affaire</h1>
    </div>

    <div class="infos">
        <div class="affaire">
            <h2 id="titre">{{affaire.titre}}</h2>
            <p><b>Identifiant :</b> {{affaire.idAffaire}}</p>
            <p><b>Référence :</b> {{affaire.reference}}</p>
            <p *ngIf="affaire.statut==2 "> <b>Statut : </b> Archivé</p>
            <p *ngIf="affaire.statut==1 " id="encours "><b>En cours...</b></p>
            <p *ngIf="affaire.statut==3 "> <b>Statut : </b>A suivre</p>
            <p id="description "><b> Description <br></b>{{affaire.description}}</p>
            <p id="description "><b> Opérations <br></b></p>
            <button id="archive" class="btn " (click)="updateStatut(2) ">Archiver</button>
            <button id="actualise" class="btn " (click)="updateStatut(1) ">Actualiser</button>
            <button id="suivre" class="btn " (click)="updateStatut(3) ">Classer à suivre </button>
            <button id="addDocument" class="btn " (click)="displayForm()">Ajouter un document</button>
            <button id="actualise" class="btn " (click)="supprimerAffaire() ">Supprimer l'affaire</button>
        </div>

    </div>


    <div *ngIf="affaire.documents.length!=0 " class="header ">
        <h1>Les documents associés</h1>
    </div>
    <div *ngIf="affaire.documents.length==0 " class="header ">
        <h1>Aucun document associé</h1>
    </div>


    <div class="documents" id="document">
        <!--   afficher la liste des documents liés aux affaires -->
        <div class="document" *ngFor="let d of affaire.documents">
            <div>
                <p><b>Identifiant :</b> {{d.idDocument}}</p>
                <p><b>Nom :</b> {{d.nom}}</p>
                <p><b>Date de création :</b> {{d.dateCreation| date : 'dd/MM/yyyy à hh:mm'}}</p>
                <p><b>Description :</b> {{d.description}}</p><br>
                <p><b>Opérations</b><br>
                    <button class="btn btn-danger " (click)="supprimer(d.idDocument) ">supprimer</button>
                </p><br>
            </div>
        </div>
    </div>


    <form class="modal-bg" #modalBg>
        <div class="modale col-8 col-sm-6  col-lg-4">
            <h2 class="justify-content-center">Formulaire d'ajout</h2><br>
            <div class="form-group">
                <label for="inputNom">Nom : </label>
                <input type="text" class="form-control" name="inputNom" id="inputNom" [(ngModel)]=document.nom>
            </div>
            <div class="form-group">
                <label for="inputDescription">Description : </label>
                <textarea class="form-control" name="inputDescription" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="document.description"></textarea>
            </div>
            <button id="ajout" class="btn btn-success" type="submit" (click)="addDocument()">Ajouter</button>
            <span class="modal-close " (click)="hiddenForm()" #modalClose>X</span>
        </div>
    </form>

</div>