<div id="body">
    <div class="header">
        <h1>Tribunal</h1>
    </div>


    <div id="infos">

        <div class="affaire" *ngFor="let t of tribunals">
            <h2 id="titre">{{t.region}}</h2>
            <p><b>adresse : </b>{{t.adresse}}</p>
            <p><b>fax : </b> {{t.fax}}</p>
            <p><b>téléphone :</b> {{t.tel}}</p>
        </div>


    </div>

    <!-- </div> -->
</div>

<!-- href="affaireDetails" -->