#body {
    background-image: url(../../assets/image/taches.jpg);
    background-size: cover;
}

#calendar {
    background-color: rgba(255, 255, 255, 0.6);
    width: 87%;
    margin: auto;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modale {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 2% 2%;
}

button {
    padding: 10px 30px;
    background-color: rgb(246, 79, 93);
    color: white;
    border: "none";
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

label {
    font-size: 1.2em;
}

@media screen and (max-width: 426px) {
    h1 {
        font-size: 2em
    }
    button {
        font-size: 0.8em;
    }
}