<div id="body">

    <div class="header">
        <h1>Liste des tâches</h1>
    </div>

    <!-- calendrier-->
    <div id="calendar">
        <button class="btn" type="button" (click)="displayForm()">Ajouter une tâche</button>
        <full-calendar [options]="calendarOptions" data-aos="fade-right" data-aos-duration="1500"></full-calendar>
    </div>
    <!-- formulaire d'ajout-->
    <form class="modal-bg" #modalBg>
        <div class="modale col-8 col-sm-6  col-lg-4">
            <h2 class="justify-content-center">Formulaire d'ajout</h2><br>
            <div class="form-group">
                <label for="titre">Titre </label>
                <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="tache.titre">
            </div>
            <div class="form-group">
                <label for="statut">Statut</label>

                <select name="statut" id="statut" class="form-control" [(ngModel)]=" tache.statutAudience ">
                    <option [ngValue]=true>Publique</option>
                    <option [ngValue]=false>Privée</option>
                </select>
            </div>
            <div class="form-group ">
                <label for="affaire">affaire</label>
                <select name="affaire" id="affaire" class="form-control" [(ngModel)]="tache.affaire">
                    <option *ngFor="let a of affaires" [ngValue]=a> {{a.titre}} - {{a.reference}}</option>
                </select>
            </div>
            <div class="form-group ">
                <label for="tribunal">Tribunal</label>
                <select name="tribunal" id="tribunal" class="form-control" [(ngModel)]="tache.tribunal">
                    <option *ngFor="let t of tribunals" [ngValue]=t> {{t.adresse}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" name="decription" [(ngModel)]="tache.description"></textarea>
            </div>

            <button type="submit" class="btn" (click)="addTache()">Ajouter</button>
            <span class="modal-close " (click)="hiddenForm()" #modalClose>X</span>
        </div>
    </form>

</div>