<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
        <h3>
            <strong>{{ currentUser.username }}</strong> Profile
        </h3>
    </header>
    <p>
        <strong>Prenom:</strong> {{ currentUser.prenom }}
    </p>
    <p>
        <strong>Token:</strong> {{ currentUser.token.substring(0, 20) }} ... {{ currentUser.token.substr(currentUser.token.length - 20) }}
    </p>

    <p>
        <strong>Email:</strong> {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
        <li *ngFor="let role of currentUser.roles">
            {{ role }}
        </li>
    </ul>
    <button class="btn" (click)="displayForm()">modifier mon profil</button>
</div>

<!-- formulaire de modification du profil -->
<form class="modal-bg" #modalBg *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
    <div class="modale col-8 col-sm-6  col-lg-4">
        <h2 class="justify-content-center">Formulaire de modification</h2><br>
        <div class="form-group">
            <label for="nomUti">Nom dutilisateur</label>
            <input type="text" class="form-control" id="nomUti" name="nomUti" required minlength="3" maxlength="20" #nomUti="ngModel" [(ngModel)]=" utilisateur.nomUtilisateur">

            <div class="alert-danger" *ngIf="nomUti.errors && f.submitted">
                <div *ngIf="nomUti.errors.required">le nom d'utilisateur est requis</div>
                <div *ngIf="nomUti.errors.minlength">
                    Le nom d'utilisateur doit comporter au moins 3 caractères
                </div>
                <div *ngIf="nomUti.errors.maxlength">
                    Le nom d'utilisateur doit comporter au maximum 20 caractères
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" required #prenom="ngModel" [(ngModel)]=" utilisateur.prenomUtilisateur">
            <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
                <div *ngIf="prenom.errors.required">Le prénom est requis</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required #email="ngModel" [(ngModel)]=" utilisateur.email">
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required">l'email est requis</div>
                <div *ngIf="email.errors.email">
                    L'e-mail doit être une adresse e-mail valide
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mdp">Mot de passe</label>
            <input type="password" class="form-control" id="mdp" name="mdp" required minlength="6" #mdp="ngModel" [(ngModel)]=" utilisateur.motDePasse">
            <div class="alert-danger" *ngIf="mdp.errors && f.submitted">
                <div *ngIf="mdp.errors.required">le mot de passe est requis</div>
                <div *ngIf="mdp.errors.minlength">
                    Le mot de passe doit être au moins de 6 caractères
                </div>
            </div>
        </div>
        <button class="btn" (click)="updateUser()">Ajouter</button>
        <span class="modal-close " (click)="hiddenForm()" #modalClose>X</span>
    </div>
</form>



<ng-template #loggedOut>
    <h1>Veuillez vous connecter</h1>
</ng-template>