.header {
    padding: 4% 0;
    background-attachment: fixed;
    text-align: center;
}

.header h1 {
    margin: 0% auto;
    display: inline-block;
    font-size: 3.8em;
    text-shadow: 3px 3px 7px black;
    padding: 0 0;
}

#body {
    min-height: 100vh;
}


/* body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(00deg, rgb(229, 236, 240), rgb(156, 219, 227));
} */