<div id="filtre">
    <section id="principal">

        <h1 data-aos="fade-left" data-aos-duration="500">Bienvenue sur mon application de gestion de contentieux</h1>
        <p data-aos="fade-left" data-aos-duration="1500">L’application de gestion du contentieux est destinée pour les cabinets d’avocats et les départements juridiques afin d’assurer le suivi au quotidien du contentieux et l’évolution du litiges juridique. Veuillez vous enregistrer, puis vous connecter
            pour pouvoir utiliser cette application</p>
        <div id="button">
            <a href="/enregistrement" class="btn btn-dark">S'enregistrer</a>
        </div>
    </section>

</div>