#filtre:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url("../../assets/image/Justice.jpg");
    background-size: 100% 100%;
    opacity: 0.2;
    /* width: 100%;
    height: 100vh; */
}

#principal {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#principal>p,
h1,
#button {
    width: 65%;
}

h1 {
    text-align: center;
    font-size: 2.7em;
}

p {
    font-size: 1.7em;
    font-weight: 500;
    text-align: justify;
}

#button {
    text-align: center;
}

a {
    font-size: 1.6em;
    background-color: rgb(36, 36, 74)
}

@media screen and (max-width: 426px) {
    .navbar {
        font-size: 0.7em;
    }
    h1 {
        font-size: 1.3em;
    }
    a {
        font-size: 0.8em;
    }
    p {
        font-size: 0.8em;
    }
    #principal>p,
    h1,
    #button {
        width: 95%;
    }
}