<div class="col-md-5 ct mx-auto">
    <div class="card card-container">


        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />

        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">

                <label for="username">Nom d'utilisateur</label>

                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" />

                <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors.required">le nom d'utilisateur est requis</div>
                    <div *ngIf="username.errors.minlength">
                        Le nom d'utilisateur doit comporter au moins 3 caractères
                    </div>
                    <div *ngIf="username.errors.maxlength">
                        Le nom d'utilisateur doit comporter au maximum 20 caractères
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">l'email est requis</div>
                    <div *ngIf="email.errors.email">
                        L'e-mail doit être une adresse e-mail valide
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">le mot de passe est requis</div>
                    <div *ngIf="password.errors.minlength">
                        Le mot de passe doit être au moins de 6 caractères
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Prenom</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required #name="ngModel" />
                <div class="alert-danger" *ngIf="name.errors && f.submitted">
                    <div *ngIf="prenom.errors.required">Le prénom est requis</div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block">S'inscrire</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                L'inscription a échoué!<br />{{ errorMessage }}
            </div>

        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Votre inscription est réussie!
        </div>
    </div>
</div>