<div id="body">
    <div class="header">
        <h1>Liste des utilisateurs</h1>
    </div>



    <div id="infos">
        <div class="affaire">
            <button id="titre">Chercher un utilisateur à partir de son ID </button>
            <div>

                <input type="text" id="ref" name="ref" (keydown)=chercherUtilisateur() [(ngModel)]=mot>

            </div>
        </div>
        <div class="affaire" *ngFor="let u of utilisateurs">
            <h2 id="titre">{{u.prenomUtilisateur}} {{u.nomUtilisateur}}</h2>
            <p><b>Id :</b>{{u.idUtilisateur}}</p>
            <p><b>Email :</b>{{u.email}}</p>
            <p><b>Opérations</b><br>
                <button id="supprimer" type="button" class="btn btn-dark" (click)="onDelete(u)">Supprimer</button>
        </div>


    </div>

    <!-- </div> -->
</div>